.accommodation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 1440px) {
  .accommodation {
    gap: 25px;
  }
}
.accommodation-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
@media (min-width: 1440px) {
  .accommodation-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.accommodation-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.accommodation-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
@media (min-width: 1440px) {
  .accommodation-description {
    gap: 0;
  }
}
.accommodation-description h1 {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
  margin: 0;
  text-align: left;
}
@media (min-width: 1440px) {
  .accommodation-description h1 {
    font-size: 36px;
  }
}
.accommodation-description h2 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 142.6%; /* 19.964px */
  margin: 0;
  text-align: left;
}
@media (min-width: 1440px) {
  .accommodation-description h2 {
    font-size: 18px;
  }
}
.accommodation-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.accommodation-tags div {
  flex-shrink: 0;
  border-radius: 5px;
  background: #FF6060;
  color: #FFF;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 5px 26px;
}
@media (min-width: 1440px) {
  .accommodation-tags div {
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 10px;
  }
}
.accommodation-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1440px) {
  .accommodation-info {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 14px;
  }
}
.accommodation-info .accommodation-rating {
  display: flex;
  gap: 6px;
}
@media (min-width: 1440px) {
  .accommodation-info .accommodation-rating {
    gap: 15px;
  }
}
.accommodation-info .accommodation-rating svg {
  width: 14px;
  height: 14px;
}
@media (min-width: 1440px) {
  .accommodation-info .accommodation-rating svg {
    width: 25px;
    height: 25px;
  }
}
.accommodation-info .accommodation-owner {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
.accommodation-info .accommodation-owner p {
  color: #FF6060;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 17.112px */
  margin: 0;
}
@media (min-width: 1440px) {
  .accommodation-info .accommodation-owner p {
    font-size: 18px;
  }
}
.accommodation-info .accommodation-owner img {
  width: 32px;
  height: 32px;
  fill: #C4C4C4;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 1440px) {
  .accommodation-info .accommodation-owner img {
    width: 64px;
    height: 64px;
  }
}
.accommodation-drodpowns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1440px) {
  .accommodation-drodpowns {
    flex-direction: row;
    gap: 76px;
  }
}

/*# sourceMappingURL=accommodationDetail.css.map */
