.detailPage {
    display: grid;
    gap: 24px;
    padding: 40px;
    grid-template-columns: minmax(280px, 500px) 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "gallery content";
}

.gallerySection {
    grid-area: gallery;
}

.content {
    grid-area: content;
}


@media (max-width: 1024px) {
    .detailPage {
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
      "gallery"
      "content";
    }
}

.gallerySection {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.gallery {
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 130px;
    width: 100%;
    max-width: 500px;
}


@media (max-width: 1024px) {
    .gallery {
        max-width: unset;
        grid-template-rows: 1fr 170px;
    }
}

.mainImage {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.thumbnailRow {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}


.thumbnail {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.showAllPhotosButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #222;
    transition: all 0.2s ease-in-out;
    background-color: white;
    cursor: pointer;

    svg {
        width: 15px;
        height: 15px;
        transition: transform 0.2s ease;
    }

    span {
        color: #222;
        text-align: right;
        font-size: 1rem;
        font-weight: 400;
        line-height: 140%;
        transition: color 0.2s ease;
    }

    &:hover {
        background-color: #f7f7f7;
        border-color: #444;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        svg {
            transform: scale(1.2) rotate(8deg);
        }

        span {
            color: #111;
        }
    }
}

.titleMobile {
    display: none;
    color: #222;
    font-size: clamp(1rem, 3vw, 3rem);
    font-style: normal;
    font-weight: 600;
    line-height: 142.6%; /* 45.632px */
    text-transform: capitalize;
    align-self: flex-start;
}

@media (max-width: 1024px) {
    .titleMobile {
        display: block;

    }
}

.hostSection {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 14px;
    background: #EDEBE9;
}

.sectionTitle {
    color: #222;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    line-height: 140%;
}

.hostCard {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

@media (max-width: 1024px) {
    .hostSection {
        padding: 24px 16px;
    }

    .hostCard {
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        gap: 16px;
    }
}

.hostInfo {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.hostAvatar {
    width: 56px;
    height: 56px;
    border-radius: 8px;
}

.hostMeta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hostName {
    color: #000;
    text-align: right;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    white-space: nowrap;

    svg {
        width: 13px;
        height: 13px;
        aspect-ratio: 1/1;
        flex-shrink: 0;

        path {
            fill: #FFBB00;
        }
    }
}


.hostProfileLink {
    color: #000;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}


.content {
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    background: linear-gradient(0deg, #EDEBE9 0%, #EDEBE9 100%), #FFF;
    align-items: flex-start;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
}

.title {
    color: #222;
    font-size: clamp(1rem, 2vw, 2rem);
    font-style: normal;
    font-weight: 600;
    line-height: 142.6%; /* 45.632px */
    text-transform: capitalize;
}

.shareLink {
    display: flex;
    padding: 5px 11px;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: #D9D9D9;
    color: #222;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    svg {
        width: 15px;
        height: 15px;
        fill: #222;
        flex-shrink: 0;
    }

    &:hover {
        background: #cfcfcf;

        svg {
            fill: #000;
        }
    }
}


.meta {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.tags {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tag {
    color: #FF5B5B;

    white-space: nowrap;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; /* 17.112px */
    text-transform: uppercase;
}


@media (max-width: 1024px) {
    .meta {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

}

.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    h2 {
        color: #222;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 142.6%; /* 34.224px */
    }

    p {
        flex: 1 0 0;
        color: #666;
        font-size: 1rem;
        font-weight: 400;
        line-height: 140%;
    }
}


.equipmentColumns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: stretch;
}

.equipmentColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    gap: 12px;
}

.equipmentColumn li {
    color: #222;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    text-transform: capitalize;
}

.footerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-top: auto;

}

.logementId {
    color: rgba(102, 102, 102, 0.84);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

.reportButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    svg {
        width: 12px;
        height: 10px;
        aspect-ratio: 6/5;
        fill: #666;
        transition: fill 0.2s ease;
        flex-shrink: 0;
    }

    span {
        color: rgba(102, 102, 102, 0.84);
        text-align: right;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-decoration-line: underline;
        text-underline-offset: 2px;
        transition: color 0.2s ease;
    }

    &:hover {
        svg {
            fill: #000;
        }

        span {
            color: #000;
        }
    }
}


@media (max-width: 600px) {

    .gallery {
        grid-template-rows: 1fr
    }

    .thumbnailRow {
        display: none;
    }

    .content {
        gap: 16px;
    }

}
