.fullWrapper {
    width: 100%;

}


/* The actual container inside a fullWidth wrapper */
.inner {
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
}


.container {
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 64rem) {
    .inner,
    .container {
        padding: 0 1rem;
    }
}
