.footer {
    display: flex;
    padding: 1.5rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    background: #222;
}

@media (max-width: 90rem) {
    .footer {
        border-radius: 1rem;
        margin: 1rem;
        width: unset;
    }
}


.logo {
    max-height: 2.5rem;
    display: block;
}

.copyright {
    color: #EBEBEB;
    font-weight: 500;

}
